body {
	font-family: "helvetica";
	background-color: #424242;
	margin-top: 100px;
}

table{
	margin: auto;
	width:600;
	border:0;
}

td {
	padding:15px;
	text-align: right;
}

h1{
	text-align: center;
	color: white;
}

h2 {
	text-align: center;
	color:white;
}	

.bodytext {
	color: #58ACFA;
	font-style: italic;
}

input[type=text]{
	width:100%;
	padding: 10px;
	border-radius: 5px;
	border: 0px;
	background-color: #FBFBEF;
}

textarea {
	width:100%;
	height:150px;
	padding: 10px;
	border-radius: 5px;
	border: 0px;
	background-color: #FBFBEF;
}


input[type=submit]{
	width:100%;
	background-color: #58ACFA;
	border: 0px;
	border-radius: 5px;
	padding: 10px;
	color: white;
}

input[type=submit]:hover {
	background:#A9BCF5;
}

#response {
	width:300px;
	margin:auto;
	margin-top:200px;
	color: white;
	text-align: center;
}